{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ромашка</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Ромашка</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/daisy.jpg' %}" alt="Ромашка" width="300" height="200">
        <h2>Ромашка — символ невинности и простоты</h2>
            <p>Ромашка — это скромный, но очаровательный цветок, который символизирует чистоту, невинность и доброту.
                Ее белые лепестки и желтая серединка делают ее универсальным элементом в букетах и садовых композициях.
                Ромашки также известны своими лечебными свойствами.</p>
        <h2>Как ухаживать за ромашками?</h2>
            <p>Ромашки предпочитают солнечные места с легкой, хорошо дренированной почвой.
                Полив должен быть умеренным, чтобы избежать переувлажнения.
                Регулярная обрезка отцветших цветов стимулирует повторное цветение.
                Подкормка комплексными удобрениями весной и летом поможет ромашкам оставаться здоровыми и красивыми.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>