{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лаванда</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Лаванда</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/lavender.jpg' %}" alt="Лаванда" width="300" height="200">
        <h2>Лаванда — символ спокойствия и гармонии</h2>
            <p>Лаванда — это ароматный цветок, который символизирует спокойствие, гармонию и чистоту.
                Ее фиолетовые соцветия и успокаивающий аромат делают ее популярной в садах и ароматерапии.
                Лаванда также используется в кулинарии и косметологии.</p>
        <h2>Как ухаживать за лавандой?</h2>
            <p>Лаванда предпочитает солнечные места с легкой, хорошо дренированной почвой.
                Полив должен быть умеренным, так как лаванда не любит переувлажнения.
                Обрезка после цветения стимулирует рост новых побегов и помогает сохранить форму куста.
                Подкормка удобрениями с низким содержанием азота поможет лаванде оставаться здоровой и ароматной.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>