{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лилия</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Лилия</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/lily.jpg' %}" alt="Лилия" width="300" height="200">
        <h2>Лилия — символ чистоты и благородства</h2>
            <p>Лилия — это изысканный цветок с нежным ароматом и элегантными лепестками.
                Она символизирует чистоту, благородство и возрождение.
                Лилии бывают разных видов: азиатские, восточные, трубчатые и многие другие.
                Их цветовая гамма варьируется от белоснежных до ярко-оранжевых и глубоких бордовых оттенков.</p>
        <h2>Как ухаживать за лилиями?</h2>
            <p>Лилии любят солнечные или полутенистые места с плодородной, хорошо дренированной почвой.
                Полив должен быть регулярным, но без переувлажнения.
                Луковицы лилий высаживают осенью или ранней весной. После цветения стебли обрезают, но листья оставляют до полного увядания.
                Подкормка комплексными удобрениями весной и летом поможет лилиям цвести пышно и долго.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>