<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цветочный мир</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <header>
        <h1>Цветочный мир</h1>
        <nav>
            <ul>
                <li><a href="rose.html">Роза</a></li>
                <li><a href="tulip.html">Тюльпан</a></li>
                <li><a href="lily.html">Лилия</a></li>
                <li><a href="orchid.html">Орхидея</a></li>
                <li><a href="sunflower.html">Подсолнух</a></li>
                <li><a href="daisy.html">Ромашка</a></li>
                <li><a href="violet.html">Фиалка</a></li>
                <li><a href="chamomile.html">Камелия</a></li>
                <li><a href="peony.html">Пион</a></li>
                <li><a href="lavender.html">Лаванда</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Добро пожаловать в мир цветов!</h2>
        <p>Здесь вы найдете информацию о различных цветах, их особенностях и уходе за ними.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>