{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Орхидея</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Орхидея</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/orchid.jpg' %}" alt="Орхидея" width="300" height="200">
        <h2>Орхидея — символ роскоши и изысканности</h2>
            <p>Орхидея — это экзотический цветок, который поражает своей красотой и изяществом.
                Она символизирует роскошь, утонченность и гармонию. Орхидеи бывают разных видов: фаленопсис, дендробиум, каттлея и другие.
                Их цветы могут быть белыми, розовыми, фиолетовыми, желтыми и даже разноцветными.</p>
        <h2>Как ухаживать за орхидеями?</h2>
            <p>Орхидеи требуют особого ухода. Они предпочитают яркий, но рассеянный свет и высокую влажность воздуха.
                Полив должен быть умеренным, чтобы корни не загнивали.
                Используйте специальный субстрат для орхидей и удобрения, разработанные для этих растений.
                Пересаживайте орхидеи каждые 2-3 года, чтобы обновить субстрат и стимулировать рост.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>