{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пион</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Пион</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/peony.jpg' %}" alt="Пион" width="300" height="200">
        <h2>Пион — символ богатства и процветания</h2>
            <p>Пион — это пышный и ароматный цветок, который символизирует богатство, процветание и счастье.
                Его крупные цветы могут быть белыми, розовыми, красными или бордовыми.
                Пионы часто используют в свадебных букетах и садовых композициях.</p>
        <h2>Как ухаживать за пионами?</h2>
            <p>Пионы любят солнечные места с плодородной почвой.
                Полив должен быть умеренным, чтобы избежать переувлажнения.
                Подкормка удобрениями с высоким содержанием фосфора и калия поможет пионам цвести пышно.
                После цветения стебли обрезают, но листья оставляют до осени.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>