{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Роза</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Роза</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/rose.jpg' %}" alt="Роза" width="300" height="200">
        <h2>Роза — королева цветов</h2>
            <p>Роза — это один из самых известных и любимых цветков в мире. Ее красота, изысканный аромат и разнообразие сортов делают ее символом любви, роскоши и элегантности. Розы бывают разных видов: чайные, плетистые, кустовые, миниатюрные и многие другие. Они могут иметь различные оттенки — от классического красного и нежного розового до экзотических синих и черных. Каждый сорт розы уникален и обладает своим характером, что делает их популярными как в садоводстве, так и в качестве подарка.</p>
        <h2>Как ухаживать за розами?</h2>
            <p>Уход за розами требует внимания, но результат стоит усилий. Для начала важно выбрать правильное место: розы любят солнечные участки, защищенные от сильного ветра. Почва должна быть плодородной, хорошо дренированной и слегка кислой. Полив должен быть регулярным, особенно в жаркую погоду, но важно избегать переувлажнения, чтобы корни не загнивали. Подкормка роз проводится несколько раз за сезон: весной — азотными удобрениями для роста, летом — калийно-фосфорными для цветения, а осенью — для укрепления растения перед зимой. Обрезка — еще один важный этап ухода. Весной удаляют сухие и поврежденные ветки, а осенью подрезают кусты для подготовки к зиме. Наконец, розы нуждаются в защите от вредителей и болезней, таких как тля, мучнистая роса или черная пятнистость. Регулярный осмотр и своевременная обработка специальными средствами помогут сохранить здоровье и красоту ваших роз.</p>
            <p>Роза — это не просто цветок, это настоящее украшение сада или дома. С правильным уходом она будет радовать вас своим цветением и ароматом долгие годы, даря вдохновение и хорошее настроение.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>