{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подсолнух</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Подсолнух</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/sunflower.jpg' %}" alt="Подсолнух" width="300" height="200">
        <h2>Подсолнух — символ солнца и радости</h2>
            <p>Подсолнух — это яркий и жизнерадостный цветок, который всегда поворачивается к солнцу.
                Он символизирует оптимизм, энергию и верность.
                Подсолнухи бывают разных размеров: от миниатюрных до гигантских.
                Их крупные желтые цветы привлекают пчел и других насекомых.</p>
        <h2>Как ухаживать за подсолнухами?</h2>
            <p>Подсолнухи любят солнечные места с плодородной почвой.
                Они требуют регулярного полива, особенно в засушливые периоды.
                Подкормка удобрениями с высоким содержанием азота и калия поможет растениям вырасти крепкими и здоровыми.
                После цветения головки подсолнухов можно оставить для сбора семян или использовать в декоративных целях.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>