{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тюльпан</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Тюльпан</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/tulip.jpg' %}" alt="Тюльпан" width="300" height="200">
        <h2>Тюльпан — символ весны и обновления</h2>
            <p>Тюльпан — это один из самых популярных весенних цветков, символизирующий начало нового цикла жизни.
                Его яркие лепестки и изящная форма делают его любимцем садоводов и флористов. Тюльпаны бывают самых разных цветов: от классических красных и желтых до экзотических фиолетовых и даже черных.
                Они идеально подходят для создания ярких клумб и букетов.</p>
        <h2>Как ухаживать за тюльпанами?</h2>
            <p>Тюльпаны предпочитают солнечные места с хорошо дренированной почвой.
                Луковицы высаживают осенью, чтобы они успели укорениться до зимы.
                Полив должен быть умеренным, так как избыток влаги может привести к загниванию луковиц.
                После цветения листья тюльпанов должны оставаться на месте до полного увядания, чтобы луковицы накопили питательные вещества для следующего сезона.
                Удобрения с высоким содержанием калия и фосфора помогут укрепить луковицы и обеспечить обильное цветение в будущем.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>