{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фиалка</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Фиалка</h1>
        <nav><a href="{% url 'main_page' %}">На главную</a></nav>
    </header>
    <main>
        <img src="{% static 'images/violet.jpg' %}" alt="Фиалка" width="300" height="200">
        <h2>Фиалка — символ скромности и нежности</h2>
            <p>Фиалка — это нежный и миниатюрный цветок, который символизирует скромность, верность и любовь.
                Ее небольшие цветы могут быть фиолетовыми, синими, розовыми или белыми.
                Фиалки часто выращивают в горшках, чтобы украсить интерьер.</p>
        <h2>Как ухаживать за фиалками?</h2>
            <p>Фиалки любят яркий, но рассеянный свет и умеренную влажность.
                Полив должен быть аккуратным, чтобы вода не попадала на листья.
                Используйте легкий, воздухопроницаемый грунт и удобрения для цветущих растений.
                Регулярно удаляйте увядшие цветы, чтобы стимулировать новое цветение.</p>
    </main>
    <footer>
        <p>&copy; 2025 Цветочный мир. Все права защищены.</p>
    </footer>
</body>
</html>